html {  
    /*  I avoid using absolute values as this may override the browsers assesability settings. */

    font-size: 1.25em;
}

body {
    padding: 0;
    margin: 0;
    background-color: azure;
    color: darkslategrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* I increase line height to increase the optimum legibility  unit-less values are prefered based on their relations to child inherentence values*/
    line-height: 1.5;
}

main {
    background-color: white;
    /*  I set my width to 80% of the page body OR 1000PX whitchever is smaller.   I set the main element to center on the screen by using margin 0, auto. min height using vh value  to allow the section to grow taller with screen size.  I used padding short hand to abreviate my code, I used percentages to keep the value relative. */
    width: 80%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3% 6% 9% 6%;
    border-left: 3px solid powderblue;
    border-right: 3px solid powderblue;
}

section {
    /* kept values relavtive to the root value */
    
    margin-bottom: 3rem;
}

h1, h2, h3 {
    /* unit value again here,  */
    line-height: 1.1;
}

h1 {    
    font-size: 2.5rem;
}

h2 {    
    font-size: 2rem;
}

h3 {    
    font-size: 1.5rem;
    margin-top: 2rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

blockquote {
    background-color: papayawhip;
    /*  use em to consider the parent element rather that a considertaion of the root.*/
    padding: 5%;
    margin: 2rem 1rem;
    font-size: 1.1em;
}

cite {
    display: block;
    text-align: right;
    /* use em values to break from the root figures */
    margin: 1em;
    font-size: .75em;
}